pkgbase = k9-svc
	pkgdesc = Self-Validating Components - a file format that eats its own dog food
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/hyperpolymath/k9-svc
	arch = any
	license = AGPL3
	makedepends = git
	depends = nickel
	depends = just
	depends = openssl
	optdepends = podman: container deployment
	optdepends = asciidoctor: documentation generation
	source = k9-svc-1.0.0.tar.gz::https://github.com/hyperpolymath/k9-svc/archive/v1.0.0.tar.gz
	sha256sums = 82e51dec2891728d233392f6e84004e5d6060bf2c936dd47445d59ca66c09f94

pkgname = k9-svc
