# SPDX-License-Identifier: AGPL-3.0-or-later
# XDG Desktop Entry for {{REPO}}
# Install: just install-shortcuts
# Remove:  just remove-shortcuts
[Desktop Entry]
Version=1.5
Type=Application
Name={{DISPLAY_NAME}}
GenericName={{GENERIC_NAME}}
Comment={{DESCRIPTION}}
Exec={{EXEC_PATH}} %U
Icon={{ICON_PATH}}
Terminal={{TERMINAL}}
Categories={{CATEGORIES}};
Keywords={{KEYWORDS}};
StartupNotify=true
StartupWMClass={{WM_CLASS}}
MimeType={{MIME_TYPES}}
Actions=doctor;help;

[Desktop Action doctor]
Name=Run Diagnostics
Exec={{EXEC_PATH}} --doctor

[Desktop Action help]
Name=Get Help
Exec={{EXEC_PATH}} --help
