[submodule "betlang"]
	path = betlang
	url = git@github.com:hyperpolymath/betlang.git
[submodule "julia-the-viper"]
	path = julia-the-viper
	url = git@github.com:hyperpolymath/julia-the-viper.git
[submodule "affinescript"]
	path = affinescript
	url = https://github.com/hyperpolymath/affinescript.git
[submodule "eclexia"]
	path = eclexia
	url = https://github.com/hyperpolymath/eclexia.git
[submodule "ephapax"]
	path = ephapax
	url = https://github.com/hyperpolymath/ephapax.git
[submodule "my-lang"]
	path = my-lang
	url = https://github.com/hyperpolymath/my-lang.git
[submodule "oblibeny"]
	path = oblibeny
	url = https://github.com/hyperpolymath/oblibeny.git
[submodule "phronesis"]
	path = phronesis
	url = https://github.com/hyperpolymath/phronesis.git
[submodule "wokelang"]
	path = wokelang
	url = https://github.com/hyperpolymath/wokelang.git
[submodule "7-tentacles"]
	path = 7-tentacles
	url = git@github.com:hyperpolymath/7-tentacles.git
