[submodule "satellites/rhodium-pipeline"]
	path = satellites/rhodium-pipeline
	url = https://github.com/hyperpolymath/rhodium-pipeline.git
[submodule "satellites/rsr-template-repo"]
	path = satellites/rsr-template-repo
	url = https://github.com/hyperpolymath/rsr-template-repo.git
[submodule "satellites/META.scm"]
	path = satellites/META.scm
	url = https://github.com/hyperpolymath/META.scm.git
[submodule "satellites/ECOSYSTEM.scm"]
	path = satellites/ECOSYSTEM.scm
	url = https://github.com/hyperpolymath/ECOSYSTEM.scm.git
[submodule "satellites/state.scm"]
	path = satellites/state.scm
	url = https://github.com/hyperpolymath/state.scm.git
[submodule "satellites/palimpsest-license"]
	path = satellites/palimpsest-license
	url = https://github.com/hyperpolymath/palimpsest-license.git
[submodule "satellites/mustfile"]
	path = satellites/mustfile
	url = https://github.com/hyperpolymath/mustfile.git
[submodule "satellites/well-known-ecosystem"]
	path = satellites/well-known-ecosystem
	url = https://github.com/hyperpolymath/well-known-ecosystem.git
[submodule "satellites/cccp"]
	path = satellites/cccp
	url = git@github.com:hyperpolymath/cccp.git
[submodule "satellites/consent-aware-http"]
	path = satellites/consent-aware-http
	url = git@github.com:hyperpolymath/consent-aware-http.git
[submodule "satellites/rsr-certifier"]
	path = satellites/rsr-certifier
	url = git@github.com:hyperpolymath/git-rsr-certified.git
[submodule "satellites/rsr-deployer"]
	path = satellites/rsr-deployer
	url = git@github.com:hyperpolymath/repo-slm-augmentor.git
[submodule "satellites/robot-repo-automaton"]
	path = satellites/robot-repo-automaton
	url = git@github.com:hyperpolymath/robot-repo-automaton.git
