[submodule "satellites/nextgen-languages"]
	path = satellites/nextgen-languages
	url = git@github.com:hyperpolymath/nextgen-languages.git
[submodule "satellites/sanctify-php"]
	path = satellites/sanctify-php
	url = git@github.com:hyperpolymath/sanctify-php.git
[submodule "satellites/php-aegis"]
	path = satellites/php-aegis
	url = git@github.com:hyperpolymath/php-aegis.git
